body{
    background-image: url('./1.jpg');
    background-position:center;
    background-size: 100%;
    width:100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

.firstpage_description{
    color:white;
    text-decoration: underline;
    font-size:x-large;
    top:12%;
    position: relative;
}

.firstpage_quote{
    color: white;
    font-weight: lighter;
    font-size:xx-small;
    position: fixed;
    bottom:80px;
}

.logo{
    position: fixed;
    bottom:0%;
    left:90%;

}



.navigation{
    display:flex;
    justify-content: space-between;
    margin-top: 11%;
}

a{
    color:white;
    font-size:xx-large;
    text-decoration: none;
}

p{
    margin-top:4%;
}


.pagination {
    font-size: 6px;
    position: fixed;
    bottom: 0;
  }
  
  .pagination a {
    color: black;
    float: left;

    padding: 1px 2px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px dotted #ddd;
  }
  
  .pagination a.active {
    background-color:white;
    color: white;
    border: 1px dotted white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}